#jobs{
    display: inline !important;
}
body{
    font-family: 'Raleway', sans-serif;
    background-color: #736470;
    color:white !important;
}
.progress-bar-fc {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 50%;
    left:40%;  
  }
  #gt{
    text-decoration: none;
    
  }
  .heart {
    color: #e25555;
  }
  footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #69506b;
  text-align: center;
  }
  .fc-button{
    background-color: #a98cab !important;
    background-image: none;
    border-color:#a98cab !important;
}
#calendar
{
background-color: #736470;
}
.fc-today{
  background-color: #ada5ac !important;
}